---
import notPreview from "../assets/no-preview.jpg";

const {
    title = 'Libros - Midudev',

    image = notPreview.src,

    video,

    description = '',

    technologies = [],

    url

} = Astro.props;
---


<custom-card>

    <a class="Card" href={url} target="_blank">
    
        <div class="Card-preview">
    
            <img class="Card-image" src={image} alt={`Foto de `}>

            { video &&
                <video class="Card-video hide-video" src={video} muted loop></video>
            }
        </div>
    
        <h3 class="Card-title px-2">{title}</h3>

        <p class="Card-description px-2">
            {description}
        </p>

        <div class="Card-technologies">
            {
                technologies.map(name => {

                    return <span class="badge pill bg-primary">{name}</span>
                })
            }
        </div>
    </a>

</custom-card>

<script>

    class CustomCard extends HTMLElement {

        constructor(){
            super();
            console.log('custom card');

            const image = this.querySelector('.Card-image');
            const video = this.querySelector('.Card-video') as HTMLVideoElement;

            if(video){

                console.log('add listeners')

                this.addEventListener('mouseenter', () => {
    
                    if(video.readyState === 4){
    
                        video.classList.remove('hide-video');
                        video.classList.add('show-video');
    
                        video.play();
                    }
                })
    
                this.addEventListener('mouseleave', () => {
    
                    if(video.readyState === 4){
    
                        video.classList.remove('show-video');
                        video.classList.add('hide-video');
    
                        video.pause();
                        video.currentTime = 0;
                    }
                })
            }
        }

    }

    window.customElements.define('custom-card', CustomCard);
</script>

<style>
    .Card {
        max-width: 250px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 5px;
        text-decoration: none;
        overflow: hidden;

        backdrop-filter: blur(16px) saturate(180%);
        border: 1px solid rgb(159, 159, 159);

        background-color: #00000095;
        color: white;

        transition: scale 0.3s ease;
    }
    .Card:hover {
        scale: 1.03;
    }

    .Card-preview {
        position: relative;
        width: 100%;
    }
    .Card-image {
        width: 100%;
        aspect-ratio: 16 / 9;
        position: relative;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 1100;
    }
    .Card-video {
        width: 100%;
        aspect-ratio: 16 / 9;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 1105;
    }
    .show-video {
        visibility: visible;
        opacity: 1;
        transition: opacity .5s linear;
    }
    .hide-video {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s .5s, opacity .5s linear;
    }

    .Card-title {
        color: #f3b61f;
    }
    .Card-title::first-letter {
        text-transform: capitalize;
    }

    .Card-description {
        word-wrap: break-word;
        overflow: hidden;

        --line-height: 1.8em;
        --max-lines: 3;

        line-height: var(--line-height);
        max-height: calc(var(--line-height) * var(--max-lines));
        
        text-overflow: ellipsis;
    }

    .Card-technologies {
        margin-top: auto;
        padding: 10px;
        display: flex;
        justify-content: end;
        gap: 5px;
    }
</style>