---
import Browser from "@layouts/Browser.astro";

const {video, image, favicon, title, url, github, next, previous} = Astro.props;
---

<div class="Project-preview">

    <Browser 
        video={video} favicon={favicon}

        url={url} title={title} github={github} 
    
        next={next} previous={previous}
    >
    
        <div class="Preview-content">

            <video class="Preview-video" src={video} poster={image} muted loop autoplay></video>

            <button type="button" class="Preview-btn btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="bi bi-arrows-angle-expand"></i>
            </button>
        </div>

    </Browser>

    <!-- Modal -->
    <custom-modal>
        <div class="modal fade" id="exampleModal" data-bs-backdrop="false">
        
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
        
                    <div class="modal-header">

                        <div class="Project-data">

                            {
                                favicon && <img class="favicon" src={favicon} alt={`Logo de ${title}`} />
                            }
    
                            <h1 class="modal-title">{title}</h1>

                        </div>

                        <div class="Project-links">

                            <a href={url} target="_blank" rel="noopener noreferrer" title="Ver Sitio" >
                                <i class="bi bi-arrow-up-right-square"></i>
                            </a>
    
                            {
                                github &&
                                <a href={github} target="_blank" rel="noopener noreferrer" title="Ver Github" >
                                    <i class="bi bi-github"></i>
                                </a>
                            }

                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                    </div>
        
                    <div class="modal-body p-0">
        
                        <video class="Preview-video" src={video} muted loop autoplay controls></video>
                    </div>
        
                </div>
            </div>
        
        </div>
    </custom-modal>

</div>

<script>
    //@ts-nocheck 

    class Modal extends HTMLElement {

        constructor(){
            super();

            const $modal = this.querySelector('.modal');

            $modal.addEventListener('show.bs.modal', () => {

                document.querySelector('.Background-content').style.overflowY = 'hidden';

                //! Fix position fixed issue when scrolling
                document.querySelector('.Background-content').style.backdropFilter = 'none';

                //Mobile lock orientation
                if(window.matchMedia('(hover: none)').matches){
  
                    document.documentElement.requestFullscreen();

                    screen.orientation.lock("landscape");   
                }
            });

            $modal.addEventListener('hide.bs.modal', () => {

                document.querySelector('.Background-content').style.overflowY = '';
                
                //! Fix position fixed issue when scrolling
                document.querySelector('.Background-content').style.backdropFilter = '';

                //Mobile unlock orientation
                if(window.matchMedia('(hover: none)').matches){

                    screen.orientation.unlock();
                    
                    document.exitFullscreen();
                }
            });
        }
    }

    customElements.define('custom-modal', Modal);
</script>


<style>
    .Preview-content {
        display: grid;
        grid-template-columns: 1fr;
    }
    .Preview-content > * {
        grid-row-start: 1;
        grid-column-start: 1;
    }


    .Preview-btn {
        z-index: 1500;
        opacity: 0;
        transition: opacity 0.5s;
        background-color: #00000092;
        border-radius: 0;
    }
    .Preview-btn .bi {
        font-size: 50px;
    }
    .Preview-content:hover .Preview-btn {
        opacity: 1;
    }

    /* Video */
    .Preview-video {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    /* Modal */
    .modal {
        width: 100vw;
        height: 100vh;
        z-index: 10000;
    }
    .modal-content {
        display: grid;
        grid-template-columns: 1fr;
    }
    .modal-content > * {
        grid-row-start: 1;
        grid-column-start: 1;
        overflow: hidden;
    }

    .modal-header {
        z-index: 3100;
        align-self: self-start;
        opacity: 0;
        transition: opacity 0.5s;
        background: linear-gradient(to bottom,#000000 30%,transparent 100%);
        height: 170px;
        border: none;
        align-items: flex-start;

        @media (hover: none) {
            opacity: 1;
        }
    }
    .modal-header:hover {
        opacity: 1;
    }

    .modal-header .Project-data {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .modal-header .Project-data .modal-title {
        color: #f3b61f;
        font-size: 30px;
    }
    .modal-header .Project-data .favicon {
        width: 30px;
        height: 30px;
        object-fit: scale-down;
    }

    .modal-header .Project-links {
        margin-left: auto;
        display: flex;
        gap: 50px;
    }
    .modal-header .Project-links a .bi {
        color: white;
        font-size: 30px;
    }
    .modal-header .Project-links a:hover .bi {
        color: #f3b61f;
    }

    
</style>