---

import Card from "./Card.astro";
import {getProjects} from "@Projects/index.js";



const PROJECTS = await getProjects();


---


<section class="Projects" id="Proyectos">

    <h2 class="Projects-title">Proyectos</h2>

    <div class="Projects-content">
        {
            Object.values(PROJECTS).map((project, i) => {

                const {folder, content} = project;

                const {title, description, technologies} = content?.markdown?.frontmatter;

                return <Card title={title} description={description} 
                
                    video={content?.video} image={content?.image?.src} 

                    technologies={technologies}

                    url={`proyectos/${folder}`}
                />
            })
        }
    </div>

</section>


<style>
    .Projects {
        margin-top: 50px;

        scroll-margin-top: var(--sections-scroll-margin-top);
    }

    .Projects-title {
        padding-top: 20px;
        padding-bottom: 15px;
        font-size: clamp(30px, 5vw, 40px);
        border-bottom: 2px solid var(--section-border-color);
        letter-spacing: 2px;
    }
    .Projects-content {
        padding: 50px;

        display: grid;
        gap: 70px 40px;
        justify-items: center;
        
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: 991.98px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 767.98px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 575.98px) {
            grid-template-columns: 1fr;
            gap: 30px;
            padding: 50px 30px;
        }
    }
</style>