---

import Card from "./Card.astro";
import {getProjects} from "@Projects/index.js";



const PROJECTS = await getProjects();


---


<section class="Projects">

    <h2 class="py-2 mb-4 border-bottom border-2 border-primary">Proyectos</h2>

    <div class="Projects-content">
        {
            Object.values(PROJECTS).map((project, i) => {

                const {folder, content} = project;

                const {title, description, technologies} = content?.markdown?.frontmatter;

                return <Card title={title} description={description} 
                
                    video={content?.video} image={content?.image?.src} 

                    technologies={technologies}

                    url={`proyectos/${folder}`}
                />
            })
        }
    </div>

</section>


<style>
    .Projects {
        margin-top: 50px;
    }
    .Projects-content {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        padding-top: 50px;
    }
</style>