---
import {TECHNOLOGIES} from "@Data/Technologies/technologies.js";
import Carousel from "@layouts/Carousel/Carousel.astro";

---

<section class="Technologies" id="Tecnologias">

    <h2 class="Technologies-title">Tecnologías</h2>

    <div class="Technologies-content">

        <Carousel autoPlay>
            {
                TECHNOLOGIES.map((tech) => {

                    const {name, logo} = tech;

                    return <div class="tech-item" title={name}>

                        <div class="tech-item-content">
                            
                            <custom-image data-light-src={logo.light} data-dark-src={logo.dark} >

                                <img src={logo.dark} alt={`Logo de ${name}`} />
                            </custom-image>
    
                            <h5>{name}</h5>
                        </div>
                    </div>
                })
            }
        </Carousel>
    </div>

</section>

<script>
import ThemeChanging from "@Utils/Themes/ThemeChanging";
import { THEMES } from "@Utils/Themes/Themes";


    class CustomImage extends HTMLElement {

        constructor(){
            super();

            this.dark = this.getAttribute('data-dark-src');
            this.light = this.getAttribute('data-light-src');

            this.$image = this.querySelector('img');
            
            if(this.light) {

                ThemeChanging.listen((theme) => {

                    if(theme.bs === THEMES.DARK.bs){

                        this.$image.src = this.dark;
                    }

                    if(theme.bs === THEMES.LIGHT.bs){

                        this.$image.src = this.light;
                    }
                });
            }
        }
    };

    customElements.define('custom-image', CustomImage);
</script>


<style>

    .Technologies {
        margin-top: 50px; 
        margin-bottom: 150px;  
    }

    .Technologies-title {
        padding-top: 20px;
        padding-bottom: 15px;
        font-size: clamp(30px, 5vw, 40px);
        border-bottom: 2px solid var(--section-border-color);
        letter-spacing: 2px;
    }

    .Technologies-content {

        padding: 0 50px;

        @media (max-width: 575.98px) {
            padding: 0;
        }
    }


    .Technologies-content .tech-item {

    }
    .Technologies-content .tech-item-content {  
        display: flex;
        width: fit-content;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: auto;

        @media (max-width: 575.98px) {
            margin: 0 30px;
        }
    }
    .Technologies-content .tech-item img {
        display: block;
        width: 80px;
        height: 80px;
        object-fit: scale-down;
    }

    

</style>