---
import { getTechnologies } from "@Data/Technologies/index.js";
import Carousel from "@layouts/Carousel/Carousel.astro";

const TECHNOLOGIES = await getTechnologies();

const TECH_ARRAY = Object.values(TECHNOLOGIES);
---

<section class="Technologies" id="Tecnologias">

    <h2 class="Technologies-title">Tecnologías</h2>

    <div class="Technologies-content">

        <Carousel autoPlay>
            {
                TECH_ARRAY.map((technologie) => {

                    const {name} = technologie.content?.markdown?.frontmatter;

                    return <div class="tech-item" title={name}>

                        <div class="tech-item-content">
                            
                            <img src={technologie.content?.logo.src} alt={`Logo de ${name}`} />
    
                            <h5>{name}</h5>
                        </div>
                    </div>
                })
            }
        </Carousel>
    </div>

</section>    


<style>

    .Technologies {
        margin-top: 50px; 
        margin-bottom: 150px;  
    }

    .Technologies-title {
        padding-top: 20px;
        padding-bottom: 15px;
        font-size: 40px;
        border-bottom: 2px solid #002fff;
    }

    .Technologies-content {

        padding: 0 50px;

        @media (max-width: 575.98px) {
            padding: 0;
        }
    }


    .Technologies-content .tech-item {

    }
    .Technologies-content .tech-item-content {  
        display: flex;
        width: fit-content;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: auto;

        @media (max-width: 575.98px) {
            margin: 0 30px;
        }
    }
    .Technologies-content .tech-item img {
        display: block;
        width: 80px;
        height: 80px;
        object-fit: scale-down;
    }

    

</style>